body {
    text-align: center;
    font-family: Helvetica;
    font-size: 18px;
    background: #eee;
}

h1 {
    margin: 0;
    font-size: 23px;
}

#container {
    width: 862px;
    margin: 20px auto 20px auto;
    text-align: left;
    position: relative;
}

ol li .page {
    border: 5px solid #ccc;
    height: 500px;
    background: #fff;
    font-size: 15px;
    padding: 25px;
}